<div class="hero-section">
  <h2>MEET THE TEAM</h2>
  <p>we have wonderful experience on 
    doing this type of training for 
    students who are interested
  </p>
</div>

<div class="filtering">
  <h4>FILTERS</h4>
    <label>Search:<br>
       <input ng-model="searchText"></label>
    <br>
    <h4>DEPARTMENTS</h4>
    <select>
        <option value="select department">select department</option>
        <option value="developer">developer</option>
        <option value="administrator">administrator</option>
        
    </select>
    <a routerlink="addemployee" class="button">addemployee</a>
    
      

    
</div>
<div class="vertical-line"></div>


