.filtering{
    margin-left: 50px;
    margin-bottom:80px;
}
.hero-section{
    margin-left: 50px;
    
}
.adding{
    width:120px;
}
.adding{
    margin-left: 60px;
    margin-bottom: 20px;
}
.button{
    cursor: pointer;
    margin-left: 450px;
}
.vertical-line{    
    border-left: 3px solid grey; 
   height: 300px;
   margin-left:250px;
   }
   
